@font-face {
  font-family: "Precious";
  src: url("Assets/Fonts/Precious.ttf") format("truetype"),
       url("Assets/Fonts/Precious.ttf") format("truetype");
}

* {
box-sizing: border-box;
}

html {
min-height: 100vh;
cursor: url(Assets/Cursors/Saphire-cursor.cur), auto;
}

body {
background-image: url('Assets/Images/background.jpg'); 
} 

.page-title {
color: #373a40;
font-family: 'Precious', serif;
font-weight: normal;
text-align: center;
font-size: 5.2em;
}

.swords {
display: none;
}

#text-divider-1 {
display: block;
margin: -2.8% auto;
}

#text-divider-2 {
  margin: -2.8% auto;
  display: block;
}

.game-info-container {
grid-column: 1 / -1;
display: flex;
justify-content: space-between;
}

.game-info {
color: #14274e;
font-size: 4em;
font-family: 'Precious';
}

.game-container {
margin: 50px auto;
display: grid;
grid-template-columns: repeat(8, auto);
grid-gap: 10px;
justify-content: center;
perspective: 500px;
}

.card {
position: relative;
height: 300px;
width: 200px;
transition: all .2s ease-in-out;
}

.card-face {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
border-radius: 12px;
overflow: hidden;
transition: transform 500ms ease-in-out;
backface-visibility: hidden;
}

.card.visible .card-back {
transform: rotateY(-180deg); 
}

.card.visible .card-front {
transform: rotateY(0); 
}


.card:hover {
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transform: scale(1.1)
}

.card-image {
flex-shrink: 0;
min-width: 100%;
min-height: 100%;
width: 50px;
}

.card-value {
position: relative;
width: 100%;
}

.card-front {
background-color: #fff3e2;
border-color: #333;
transform: rotateY(180deg);
}

.overlay-text {
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 100;
display: none;
position: fixed;
justify-content: center;
align-items: center;
flex-direction: column;
color: #214252;
transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
font-size: .3em;
}

.overlay-text.visible {
display: flex;
animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
from {
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
}
to {
  background-color: rgba(0, 0, 0, .8);
  font-size: 10em;
}
}